<div class="footer-section">
  <div class="footer-menu">
    <div class="row">
      <div class="col-md-3">
        <img src="assets/imgs/logo2.png" />
        <p>
          Elevating Customer Experience: Building<br />
          Applications for Unforgettable Interactions
        </p>
      </div>
      <div class="col-md-3">
        <h1>Features</h1>
        <ul>
          <li>
            <a [routerLink]="'/ui-testing'">UI Testing</a>
          </li>
          <li>
            <a [routerLink]="'/performance-testing'">Performance Testing</a>
          </li>
          <li>
            <a [routerLink]="'/api-testing'">Api Testing</a>
          </li>
          <li>
            <a [routerLink]="'/reporting'">Reporting</a>
          </li>
          <li>
            <a [routerLink]="'/testimonials'">Testimonials</a>
          </li>
<!-- 
          <li>
            <a [routerLink]="'wheel'">Wheel</a>
          </li> -->
        </ul>
      </div>
      <div class="col-md-3">
        <h1>Support</h1>
        <ul>
          <li>
            <a href="#">FAQ's</a>
          </li>
          <li>
            <a href="#">Privacy Policy</a>
          </li>
          <li>
            <a href="#">Terms & Condition</a>
          </li>
          <li>
            <a [routerLink]="'/about-us'">Contact Us</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <h1>Newsletter</h1>
        <input
          type="email"
          class="form-control mt-3"
          placeholder="Email Address"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />
      </div>
    </div>
    <!-- <div class="reserved">
      <p>© All rights reserved by Vertex It Systems</p>
    </div> -->
  </div>
  <div style="margin-top: -100px" class="footer-illustration">
    <img src="assets/imgs/footer-img.png" />
  </div>
</div>
   