<app-top-menu></app-top-menu>
<app-header-menu></app-header-menu>

<div class="banner">

    <div class="banner-body" style="padding: 40px">
        <div style="text-align: center; margin-bottom: 30px;">
            <button class="btn btn-outline-info btn-watch">Empowering Testing Excellence</button>
        </div>

        <div>
            <h1 class="inti_head">Meet the Visionaries <br> Behind vStellar</h1>
            <p class="p1">At vStellar, we're on a mission to revolutionize the world of testing. With a passion for
                innovation and
                a commitment to user-friendly solutions, we're redefining the way testing is done.</p>

            <p class="p2">Our no-code approach simplifies the testing process, making it accessible to all, while our
                dedication to efficiency and reliability ensures that your testing experience is nothing short of
                stellar. We invite you to join us on this journey of transformation and excellence.</p>
        </div>

        <div style="text-align: center; margin-bottom: 30px; margin-top: 140px;">
            <button class="btn btn-outline-info btn-watch">Mission</button>
        </div>
        <h2>
            To simplify coding and testing <br> automation for everyone everywhere
        </h2>

        <div style="text-align: center; margin-bottom: 30px; margin-top: 140px;">
            <button class="btn btn-outline-info btn-watch">Vision</button>
        </div>
        <h2>
            Transform testing into a seamless <br> experience through no-code AI-powered <br> automation that gets rid
            of complex
            manual <br> processes.
        </h2>

        <div style="text-align: center;
        margin-bottom: -90px;
        margin-top: 140px;">
            <img src="assets/imgs/man.png" />

        </div>


        <div class="hassle-section ">
            <div style="text-align: center; margin-bottom: 30px; margin-top: 40px;">
                <button class="btn btn-outline-info btn-watch">Our Core Values</button>
            </div>
            <h1>Inspire Our Mission</h1>
            <p style="margin: 30px 0px;">Where innovation, simplicity, and excellence converge to inspire our
                mission of redefining testing. <br>
                Join us on a journey where your success is our purpose</p>
            <div class="row">
                <div class="col-sm-1 col-md-3 col-lg-3 forLoopDiv" *ngFor="let itm of item">
                    <div class="forIn">
                        <p class="p11">{{itm.name}}</p>
                        <p class="p22">{{itm.desc}}</p>
                    </div>
                </div>
            </div>
        </div>




    </div>
    <app-footer></app-footer>

</div>