<div class="banner">
  <!-- <div class="banner-inside">oaisdjflksjdflksjdflkj</div> -->
  <app-header-menu></app-header-menu>
  <div class="banner-body">
    <h1>Integrations</h1>
    <p>
      Empower your quality assurance team with the super power of code-free AI
      testing<br />
      optimizing processes, reducing errors and delivering top - notch results.
    </p>
    <button class="btn btn-info booking-btn">Book a Demo</button>
    <div class="banner-img">
      <img src="assets/imgs/banner-robo.png" />
    </div>
  </div>
</div>
