<app-top-menu></app-top-menu>
<app-header-menu></app-header-menu>


<div style="margin: 90px 0px">
  <h1 class="inti_head">Integrations</h1>
</div>



<div class="hassle-section">
  <div class="section-watch">
    <div class="flex_div">
      <button class="btn btn-info booking-btn" style="border-radius: 50px">
        Watch Demo
      </button>

      <button class="btn normalBtn">HTTP Apis</button>
      <button class="btn normalBtn">Core Adapters</button>
      <button class="btn normalBtn">Standards</button>
      <button class="btn normalBtn">Cloud Dev</button>
      <button class="btn normalBtn">Report/ Collabs</button>
      <button class="btn normalBtn">IDE Plugins</button>
      <button class="btn normalBtn">Others</button>
    </div>
  </div>

  <div class="flex_div" style="margin-top: 40px">
    <div class="item_div">
      <img class="tests" src="assets/imgs/intigration/1.png" />
    </div>

    <div class="item_div">
      <img class="tests" src="assets/imgs/intigration/2.png" />
    </div>
    <div class="item_div">
      <img class="tests" src="assets/imgs/intigration/3.png" />
    </div>
    <div class="item_div">
      <img class="tests" src="assets/imgs/intigration/4.png" />
    </div>
  </div>

  <div class="flex_div" style="margin-top: 40px">
    <div class="item_div">
      <img class="tests" src="assets/imgs/intigration/5.png" />
    </div>

    <div class="item_div">
      <img class="tests" src="assets/imgs/intigration/6.png" />
    </div>
    <div class="item_div">
      <img class="tests" src="assets/imgs/intigration/7.png" />
    </div>
    <div class="item_div">
      <img class="tests" src="assets/imgs/intigration/8.png" />
    </div>
  </div>

  <div class="flex_div" style="margin-top: 40px">
    <div class="item_div">
      <img class="tests" src="assets/imgs/intigration/9.png" />
    </div>

    <div class="item_div">
      <img class="tests" src="assets/imgs/intigration/10.png" />
    </div>
    <div class="item_div">
      <img class="tests" src="assets/imgs/intigration/11.png" />
    </div>
    <div class="item_div">
      <img class="tests" src="assets/imgs/intigration/12.png" />
    </div>
  </div>
</div>

<div class="faq-section" style="margin: 110px 0px">
  <h1>Question you might have</h1>
  <div class="faq-questions">
    <div class="accordion" id="accordionExample">
      <div class="accordion-item my-3 p-2">
        <h2 class="accordion-header" id="headingOne">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseOne"
            aria-expanded="false"
            aria-controls="collapseOne"
          >
            What is the average time required to configure an automation test
            suite?
          </button>
        </h2>
        <div
          id="collapseOne"
          class="accordion-collapse collapse"
          aria-labelledby="headingOne"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <p>Content</p>
          </div>
        </div>
      </div>
      <div class="accordion-item my-3 p-2">
        <h2 class="accordion-header" id="headingTwo">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseTwo"
            aria-expanded="false"
            aria-controls="collapseTwo"
          >
            What is the average time required to configure an automation test
            suite?
          </button>
        </h2>
        <div
          id="collapseTwo"
          class="accordion-collapse collapse"
          aria-labelledby="headingTwo"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <p>Content</p>
          </div>
        </div>
      </div>
      <div class="accordion-item my-3 p-2">
        <h2 class="accordion-header" id="headingThree">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseThree"
            aria-expanded="false"
            aria-controls="collapseThree"
          >
            What should I do if my automation tests fail?
          </button>
        </h2>
        <div
          id="collapseThree"
          class="accordion-collapse collapse"
          aria-labelledby="headingThree"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <p>Content</p>
          </div>
        </div>
      </div>
      <div class="accordion-item my-3 p-2">
        <h2 class="accordion-header" id="headingFour">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseFour"
            aria-expanded="false"
            aria-controls="collapseFour"
          >
            What situations are most likely to be a good fit for Stellar’s
            automation testing mechanism?
          </button>
        </h2>
        <div
          id="collapseFour"
          class="accordion-collapse collapse"
          aria-labelledby="headingFour"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <p>Content</p>
          </div>
        </div>
      </div>

      <div class="accordion-item my-3 p-2">
        <h2 class="accordion-header" id="headingFour">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseFour"
            aria-expanded="false"
            aria-controls="collapseFour"
          >
            How is Stellar different from other (manual) testing tools?
          </button>
        </h2>
        <div
          id="collapseFour"
          class="accordion-collapse collapse"
          aria-labelledby="headingFour"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <p>Content</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
