<app-top-menu></app-top-menu>
<app-header-menu></app-header-menu>
<!-- ///my intigration componetn -->

<div style="margin: 90px 0px 40px;">
    <h1 class="inti_head">Testimonials</h1>
</div>

<!-- ///my intigration componetn -->



<div class="how-works">
    <div class="row">
        <div class="col-sm-1 col-md-4 col-lg-4" *ngFor="let item of items" style="padding: 10px;">
            <div class="descDiv">
                <img src="assets/imgs/softtech.png" />
                <br>

                <label class="descP">"The seamless integration and user-friendly interface of Stellar's codeless QA
                    automation tool revolutionized our testing process, enhancing efficiency and accuracy."</label>
                <br>
                <div class="fc">
                    <img class="profile" src="https://cdn.pixabay.com/photo/2022/01/21/07/39/rose-6954137_640.jpg" />
                    <div>
                        <p class="username">Sarah Thompson</p>
                        <p class="userposition">QA Manager</p>
                    </div>

                </div>


            </div>

        </div>


    </div>
</div>


<app-footer></app-footer>