.hassle-section {
  background: #05071d;
  background-image: radial-gradient(520px 150px at top center,
      rgba(189, 86, 234, 0.5) 10%,
      rgb(53, 24, 70) 40%,
      rgb(29, 13, 43) 71%,
      rgba(5, 7, 29, 1) 100%);
  margin: 0 40px;
  position: relative;
  box-sizing: border-box;
  --border: 3px;
  background-clip: padding-box;
  border: solid var(--border) transparent;
  border-radius: 2em;
  margin: 0 40px;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 35px;
  height: 824px;

  .section-watch {
    button.btn-watch {
      padding: 12px 24px;
      border-radius: 200px;
      border: 2px solid #c75ffe;
    }

    button.btn-outline-info:hover {
      background: transparent;
      background-color: transparent;
    }

    button.btn-outline-info {
      color: #c75ffe;
    }
  }

  h1 {
    text-align: center;
    color: #fff;
    margin: 24px 0;
    font-family: "Aeonik-Regular";
    font-size: 52px;
    font-style: normal;
    font-weight: 500;
    line-height: 81px;
  }

  p {
    color: #fff;
    text-align: center;
    font-family: "Aeonik-Light";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    opacity: 0.8;
    padding: 10px 15%;
  }

  img {
    width: 298px;
    height: 298px;
    object-fit: cover;
    margin-top: 50px;
    margin-bottom: 30px;
  }
}

.how-works::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: calc(-1 * var(--border));
  border-radius: inherit;
  background: linear-gradient(to bottom,
      rgb(207, 99, 255),
      rgb(33, 22, 43) 71%);
}

.brilliance-section {
  background-image: url("../../assets/imgs/brilliance-bg.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top;

  .br-texts {
    padding: 422px 0;

    h3 {
      color: #fff;
      text-align: center;
      font-family: "Aeonik-Regular";
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    h1 {
      color: #fff;
      text-align: center;
      font-family: "Aeonik-Regular";
      font-size: 65px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}

.gateway-section {
  text-align: center;

  .section-watch {
    button.btn-watch {
      padding: 12px 24px;
      border-radius: 200px;
      border: 2px solid #c75ffe;
    }

    button.btn-outline-info:hover {
      background: transparent;
      background-color: transparent;
    }

    button.btn-outline-info {
      color: #c75ffe;
    }
  }

  h1 {
    text-align: center;
    color: #fff;
    margin: 24px 0;
    font-family: "Aeonik-Regular";
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 81px;
  }

  p {
    color: #fff;
    text-align: center;
    font-family: "Aeonik-Light";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    opacity: 0.8;
  }

  .tests-circle {
    position: relative;

    img.tests {}

    .blured-top {
      position: absolute;
      background: linear-gradient(180deg, rgba(5, 7, 29, 0) 0%, #05071d 65.39%);
      bottom: 40px;
      width: 100%;
      z-index: 1;
      color: white;
      padding: 340px 0;
    }
  }
}

.code-test-section {
  background-image: url("../../assets/imgs/code-test-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 40px;
  padding-bottom: 960px;
  padding-top: 100px;
  text-align: center;

  .section-watch {
    button.btn-watch {
      padding: 12px 24px;
      border-radius: 200px;
      border: 2px solid #c75ffe;
    }

    button.btn-outline-info:hover {
      background: transparent;
      background-color: transparent;
    }

    button.btn-outline-info {
      color: #c75ffe;
    }
  }

  h1 {
    text-align: center;
    color: #fff;
    margin: 24px 0;
    font-family: "Aeonik-Regular";
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 81px;
    opacity: 0.8;
  }

  p {
    color: #fff;
    text-align: center;
    font-family: "Aeonik-Light";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    opacity: 0.8;
  }
}

.how-works {
  background: #05071d;
  background-image: radial-gradient(520px 150px at top center,
      rgba(189, 86, 234, 0.5) 10%,
      rgb(53, 24, 70) 40%,
      rgb(29, 13, 43) 71%,
      rgba(5, 7, 29, 1) 100%);
  margin: 0 40px;
  position: relative;
  box-sizing: border-box;
  --border: 3px;
  background-clip: padding-box;
  border: solid var(--border) transparent;
  border-radius: 2em;
  padding: 20px 0;
  text-align: center;
  margin: 30px 40px;

  h2 {
    color: #fff;
    text-align: center;
    font-family: "Aeonik-Regular";
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 81px;
  }

  .booking-btn {
    border-radius: 200px;
    padding: 12px 24px;
  }
}

.integrations-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 80px 0;

  .integrations-text {
    margin-left: 80px;

    h2 {
      font-family: "Aeonik-Regular";
      font-size: 50px;
      font-style: normal;
      font-weight: 500;
      line-height: 81px;
      background: linear-gradient(92deg, #cf63ff 20.92%, #4d1ae5 79.76%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-bottom: 30px;
    }

    p {
      color: #fff;
      opacity: 0.8;
      font-family: "Aeonik-Light";
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
    }
  }
}

.faq-section {
  h1 {
    color: #fff;
    font-family: "Aeonik-Regular";
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 81px;
    text-align: center;
    margin-bottom: 100px;
    margin-top: 50px;
  }

  .faq-questions {
    margin: 0px 80px 80px 80px;

    .accordion-item {
      border-radius: 40px;
      background: #130d3f;
      border: none;
      padding: 35px 20px !important;
      border-top: 1px solid #cf63ff;
    }

    .accordion-button {
      background: #130d3f;
      color: #fff;
      border-radius: 200px;
      padding: 5px;
    }

    .accordion-body {
      p {
        color: #fff;
      }
    }

    .accordion-button:after {
      background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
    }
  }
}

.normalBtn {
  padding: 7px 24px;
  border-radius: 200px;
  border: 2px solid #c75ffe;
  color: #c75ffe;
  --bs-btn-hover-bg: transparent;
}

.inti_head {
  text-align: center;
  font-family: "Aeonik-Bold";
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 30px;
  background: var(--Linear,
      linear-gradient(94deg, #c75ffe 36.12%, #6b29ee 81.28%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.item_div {
  border-radius: 24px;
  background: #130d3f;
  width: 24%;
  height: 123px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 165px;
    height: 51px;
    object-fit: scale-down;
  }
}

.flex_div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0px 30px;
}

.row {
  flex-basis: calc(33.33% - 10px);
  margin: 5px;
  box-sizing: border-box;
  padding: 10px;
}

.col {
  margin-bottom: 20px;
}

.descDiv {
  margin: 10px;
  text-align: left;
  padding: 15px;
  border-top: 1px solid #cf63ff;
  border-radius: 24px;
  background: #130D3F;
}

.descP {
  color: #fff;
  font-family: "Aeonik-Regular";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  opacity: 0.7;
  margin-top: 10px;
}

.profile {
  width: 48px;
  height: 48px;
  border-radius: 48px;
  border: 2px solid rgba(255, 255, 255, 0.4);
  margin-right: 10px;
}

.username {
  color: #fff;
  color: #fff;
  font-family: "Aeonik-Regular";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0px;
  margin-bottom: 5px;
}

.userposition {
  color: #fff;
  font-family: "Aeonik-Regular";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.8;
  margin: 0px;
}

.fc {
  display: flex;
  align-items: center;
  margin-top: 10px;
}